body {
    font-family:'Helvetica Neue', Arial, sans-serif;
}

#graph, #button {
    position: relative;
    margin: 0 auto;
}

.inputBar {
    width:30px; 
    height:30px;
    font-size:1.5em;
}

.borderBar {
    display: inline-block;
    width:600px;
    height:40px;
    border: 1px solid black;
    margin-left:15px;
}

.coloredBar {
    height: 100%;
    -moz-border-top-right-radius:2px;
    -webkit-border-top-right-radius:2px;
    border-top-right-radius:2px;
    
    -moz-border-bottom-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    border-bottom-right-radius:2px; 
    
    background-color:#000;  
}

.coloredBar:hover {
    -webkit-box-shadow: 0px 0px 4px #FF6342;
    -moz-box-shadow: 0px 0px 4px #FF6342;
    box-shadow: 0px 0px 4px #FF6342; 
}
